<h3>Listado de canchas disponibles</h3>
<table class="table-responsive text-center">
	<thead class="table-success">
		<tr>
			<th scope="col">Nro </th>
			<th scope="col">Tipo</th>
			<th scope="col">Cant jugadores</th>
			<th scope="col">Precio</th>
			<th scope="col">Turnos disponibles</th>
			<th scope="col">Operaciones</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let cancha of canchas">
			<td>{{cancha.nro}}</td>
			<td>{{cancha.tipo}}</td>
			<td>{{cancha.cant_jugadores}}</td>
			<td>{{cancha.precio | currency}}</td>
			<td>
				<span class="alert alert-dark" *ngIf="cancha.turnos_disponibles==0; else elseBlock">AGOTADOS</span>
				<ng-template #elseBlock>{{cancha.turnos_disponibles}}</ng-template>
			</td>
			<td>
				<button type="button" class="btn btn-secondary btn-sm" (click)="downTurnos(cacha.turnos)">-</button>
				<!--{{cancha.turnos}} si anda asi -->
				<input class="col-md-2 mb-1" type="text" [(ngModel)]="cancha.turnos"/>
				<button type="button" class="btn btn-secondary btn-sm" (click)="upTurnos(cacha.turnos)">+</button>
			</td>
		</tr>
	</tbody>
</table>