<h3>Listado de canchas disponibles</h3>
<table class="table table-sm">
	<thead class="table-success">
		<tr>
			<th scope="col">Cancha Nro </th>
			<th scope="col">Tipo</th>
			<th scope="col">Cant jugadores</th>
			<th scope="col">Precio</th>
			<th scope="col">Turnos disponibles</th>
			<th scope="col">Operaciones</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let cancha of canchas">
			<td>{{cancha.nro}}</td>
			<td>{{cancha.tipo}}</td>
			<td>{{cancha.cant_jugadores}}</td>
			<td>{{cancha.precio}}</td>
			<td>
				<span *ngIf="cancha.turnos_disponibles==0">TURNOS AGOTADOS</span>
			</td>
			<!--span *ngIf="cancha.turnos_disponibles==0; then thenBlock else elseBlock"-->
			<!--ng-template #thenBlock>TURNOS AGOTADOS</ng-template-->
			<!--ng-template #elseBlock>{{cancha.turnos_disponibles}}</ng-template></span>-->
			<td>operaciones hacer</td>
	    </tr>
	</tbody>
</table>
