*{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* estilos para el pie de pagina */
footer, nav {
    background: blue;
    padding: 12px;
    text-align: center;
    font-weight: bold; /* poner en negrita */
    font-size: 18px;
    height: auto;
    color: white;
}

img {
    withd: 65px;
    height: 65px;
    margin: 8px;
}

