<div lass="container">
	<h3>Conocenos!</h3>

	<p>Somos un complejo de canchas para la disciplina de futbol para las diferentes categorias. Tenemos canchas de sintetico y cesped</p>
	<p>Poseemos las siguientes canchas:<p>
	<ul>
		<li> 2 para futbol 5 con cesped sintetico.</li>
		<li> 2 para futbol 7 con cesped sintetico</li>
		<li> 2 para futbol 8 con pasto.</li>
		<li> 2 para futbol 11 con pasto.</li>
	</ul>

	<div class="alert alert-danger" role="alert">
	  	Recomendacion!!!
		<p>No se permite jugar con botines con tapones en las canchas de sintetico.</p>
	</div>

	<p>Nuestras instalaciones cuentan con estacionamiento para autos, biciletas y motos. Tambien baños, vestuarios para que te puedas cambiar, buffet y mucho mas.</p>

</div>