<div lass="container">
	<h3>Comunicate con nosotros!</h3>

	<div class="alert alert-info" role="alert">
	  	Copate!!!
		<p>¿Queres jugar con tu grupo de amigos un partido de futbol? o queres jugar y no tenes equipo no te preocupes escribinos y te sumamos a los equipos que le faltan jugadores.</p>
	</div>
	<p>Nuestros horarios de atencion</p>
	<ul class="list-group -sm">
		<li class="list-group-item">Lunes a viernes de 9.00 hrs a 21.00 hrs.</li>
		<li class="list-group-item">Sabados y domingo de 13.30 hrs a 23.30 hrs.</li>
	</ul>
	<p>Podes acercarte a nuestras instalaciones en Av. Alem 3500 o llamanos al 2983-15502020.</p>
	<p>Tambien te podes comunicar por email al complejo-de-canchas-tsas@gmail.com</p>
</div>